.BlogDetails{
    /* border: 2px solid black; */
    width: 98%;
    height: 300px;
    margin: auto;
    /* background-color: rgb(229, 222, 214); */
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    box-shadow: 2px 2px 10px;

}
.BlogDetails-img{
    /* border: 2px solid black; */
    width: 30%;
    height: 300px;
    border-radius: 10px;
    background-image: url(https://cdn.pixabay.com/photo/2015/11/06/13/25/blog-1027861_640.jpg);
    background-size: cover;
}
.comments{
    width: 30%;
    height: 200px;
    background-color: rgb(229, 222, 214);
    /* border: 2px solid black; */
    margin-left: 75px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px;

}
.comments-2{
    margin-left: 20px;
    margin-top: 20px;
}
.comments-2 img{
    width: 10%;
}
